<p><%= notice %><%= alert %></p>
<% if user_signed_in? %>
  <% unauth_providers = ["google", "twitter"] %>
  <% @auths.each do |auth| %>
    <% if auth.provider == "google" %>
      <% unauth_providers.delete("google") %>
    <% elsif auth.provider == "twitter" %>
      <% unauth_providers.delete("twitter") %>
    <% end %>
  <% end %>
  <% if unauth_providers.include?("google") %>
    <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path %>
  <% else %>
    <p>Google認証ずみ</p>
  <% end %>
  <% if unauth_providers.include?("twitter") %>
  <%= link_to 'twitterでサインアップしてね', user_twitter_omniauth_authorize_path %>
  <% else %>
    <p>Twitter認証ずみ</p>
  <% end %>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Googleでサインアップしてね', user_google_omniauth_authorize_path %>
<% end %>
